
.listen {
  display: flex;
  align-items: center; 
  gap: 15px; 
  padding: 0px;
  margin: 10px 0 10px 10px;
  background-color: #0f0f0f;
}

.listen img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.listen h1, .listen small {
  margin: 0px;
  opacity: 0px;
  color: aliceblue;
  
}

.listen h1 {
  font-size: 20px; 
}

.listen small {
  font-size: 14px; 
}

.quick {
  display: flex;
  align-items: center; 
  gap: 15px; 
  padding: 0px;
  margin-top: 30px;
  margin-left: 10px;
  background-color: #0f0f0f;
}

.quick img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.quick h1, .quick small {
  margin: 0px;
  opacity: 0px;
  color: aliceblue;
  
}

.quick h1 {
  font-size: 20px; 
}

.quick {
  font-size: 14px; 
}
